@using ChuckNorrisFunnyPhraяes_API.Models
@model Phrase

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special Chuck Noris phrase of the day</h5>
        <p class="card-text">@Model.Value</p>
    </div>
</div>
